@import "../../styles/_variable.scss";

.characterItem {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
    background: rgb(141, 216, 231);
    background: linear-gradient(
      70deg,
      rgba(141, 216, 231, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    img {
      width: 100%;
      cursor: pointer;
    }
    .characterName {
      font-family: $boldFont;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
      margin: 5px;
    }
    .characterStatus {
      font-family: $regularFont;
      text-align: center;
      margin: 0;
    }
    .favouriteIcon {
      font-size: 2rem;
      cursor: pointer;
      margin: 10px;
    }
  }