@import "../../styles/_variable.scss";
.selectDiv {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  max-width: 300px;
  margin: auto;
  select {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
  }
  .arrow {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.4rem;
  }
}
.allCharactersContainer {
  max-width: 1300px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 991px) {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
